.inputField
{
    padding:8px 20px;
    min-width:250px;
    border:1px solid lightgray;
    border-radius: 4px;
    margin-bottom: 10px;
}

.inputField:focus
{
    border: 1px solid navy;
    outline: 0;
}
